.developer{
  font-size:36px;
  font-weight;light;
  font-family:cursive;
  color:#da9783;
  background-color:blue;
    

}

.coder{
  width:22%;
  float:left;
  margin-right:30px;
  

}
.intro{
  color:#efA123;
  font-size:50px;
  background-color:#7f1290
  padding:100px;
}
.jumbotron{
  background:#ab1234
}
hr{
  border-style: dotted;
  border-color:red;
  border-width: 70px;
  width: 50%;

}
.details{
  font-size:30px;
  font-family: cursive;
  color:#c06014;
    background-color:#e4d3cf;
  padding:30px;
  margin-left:20px;
  line-height:1.7;
}
.aboutme{
  font-size:48px;
  text-align:center;
 margin-right:30px;
  color:#bb8082;
}
.b{
  opacity:0.6;
}
#c{
  color:lime;
}
nav{
  margin:auto;
  font-size:30px;
  height:40px;
  
}
#mynavbar{
  font-size:40px;
}
#skill{
  color:blue;
}
.work{
  background:#7eca9c;
  margin-left:100px;
    margin-right:100px;
  
}
